server:
  port: 8080
spring:
  application:
    name: EM Annotation App
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL94Dialect
    database: postgresql
    show-sql: ${SHOW_SQL:false}
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
  liquibase:
    change-log: classpath:/db/db.changelog-master.xml
    enabled: ${ENABLE_LIQUIBASE:false}
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/emannotationapp}
    username: ${SPRING_DATASOURCE_USERNAME:emannotationapp}
    password: ${SPRING_DATASOURCE_PASSWORD:emannotationapp}
    tomcat:
      max-active: ${MAX_ACTIVE_DB_CONNECTIONS:50} # Maximum number of active connections that can be allocated from this pool at the same time.
      max-idle: ${MAX_IDLE_DB_CONNECTIONS:25}
      max-wait: ${MAX_WAIT_DB_CONNECTIONS:10000} # Number of ms to wait before throwing an exception if no connection is available.
      test-on-borrow: ${TEST_ON_BORROW_DB_CONNECTION:true}
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      auto-commit: false


#liquibase:
#
#  enabled: ${ENABLE_DB_MIGRATE:true}
#  change-log: classpath:/db/db.changelog-master.xml

base-urls:
  idam-user: ${IDAM_API_URL:http://localhost:4501}
  idam-s2s: ${S2S_URL:http://localhost:4502}
  s2s-token: ${S2S_TOKEN:AAAAAAAAAAAAAAAA}
  test-url: ${TEST_URL:http://localhost:8080}

management:
  endpoints:
    web:
      base-path: '/'
      exposure:
        include:
         - health
         - info
  health:
    db:
      enabled: true
    disk:
      enabled: true
      threshold: ${HEALTH_DISK_THRESHOLD:262144000}
    status:
     order:
       - FATAL
       - DOWN
       - UNKNOWN
       - UP
  info:
     build:
       enabled: true # Whether to enable build info.
     defaults:
       enabled: true # Whether to enable default info contributors.
     env:
       enabled: true # Whether to enable environment info.
     git:
       enabled: true # Whether to enable git info.
       mode: simple # Mode to use to expose git information.

info:
  app:
    environment: ${PACKAGES_ENVIRONMENT:local}
    project: ${PACKAGES_PROJECT:em-annotation}
    name: ${PACKAGES_NAME:cor}
#    version: ${PACKAGES_VERSION:unknown}

authorization:
  case-worker-roles: ${CASE_WORKER_ROLES:caseworker-probate,caseworker-cmc,caseworker-sscs,caseworker-divorce}
  s2s-names-whitelist: ${S2S_NAMES_WHITELIST:sscs,divorce,ccd,em_gw,jui_webapp,pui_webapp,em_npa_app}

auth:
  idam:
    client:
      baseUrl: ${IDAM_API_BASE_URI:http://localhost:4501}
  provider:
    service:
      client:
        baseUrl: ${S2S_BASE_URI:http://localhost:4502}



azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:true}
  application-insights:
    instrumentation-key: ${APPINSIGHTS_INSTRUMENTATIONKEY:d30268e8-8979-4579-8d58-010dbe03a1e6}

app-insights:
  dev-mode: off
  request-component: on
  telemetry-component: on

#
#toggle:
#  includeidamhealth: ${ENABLE_IDAM_HEALTH_CHECK:false}
#  includes2shealth: ${ENABLE_S2S_HEALTH_CHECK:false}

idam:
  s2s-auth:
    url: ${S2S_BASE_URI:http://localhost:4502}
    totp_secret: ${S2S_KEY:AAAAAAAAAAAAAAAA}
    #microservice: em_npa_app
    #change data "azurerm_key_vault_secret" "s2s_key" in main.tf when em_npa_app is added to the dm_store white list
    microservice: em_gw